@import "_variables";

//primera sección

.principal{
    height: 700px;
    width: 100%;
    background-image: url(../img/Que-llevar-a-un-viaje.jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
        .contenedor_titulo{
            .titulo{
                font-size: 4rem;
                color: $marron;
                backdrop-filter: blur(3px);
                background-color: rgba(205, 202, 202, 0.596);
                text-align: center;
                display: inline-block;
                padding: 10px;
                border-radius: 30px;
            }
            .frase{
                font-size: 8rem;
                color: $marron;
                backdrop-filter: blur(3px);
                background-color: rgba(205, 202, 202, 0.596);
                text-align: center;
                padding: 5px;
                border-radius: 60px;
                text-align: center center;
                align-content: center;
            }
            .iniciar_sesion{
                @include botones;
                display: inline-block;
                    a{
                        text-decoration: none;
                        color: $marron;
                    }
            }
    }
}

//segunda sección

.destinos{
    text-align: center;
    font-size: $font-sizeL;
    text-decoration: none;
        h2{
            font-size: $font-sizeL;
            text-decoration: none;
            margin-top: 50px;
        }
        .carousel{
            display: flex;
            justify-content: center;
            margin-top: 30px;
                #carouselExampleCaptions{
                    width: 900px;
                    height: 500px;
                    .carousel-inner{
                        border-radius: 40px;
                            .d-block{
                                height: 500px;
                            }
                            h3{
                                font-size: 4rem;
                                background-color: rgba(128, 128, 128, 0.596);
                                border-radius: 40px;
                            }
                    }
                }
        }
}
.ver_destinos{ 
    text-align: center;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 30px;
        .ver_todos{
            @include botones;
        }
}

//tercera sección

h4{
    font-size: $font-sizeL;
    text-align: center;
    margin-top: 50px;
}
.recomendaciones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    row-gap: 20px;
    background: rgb(255,237,246);
    background: linear-gradient(234deg, rgba(255,237,246,1) 0%, rgba(255,210,235,1) 53%, rgba(214,237,249,1) 100%);
    padding: 30px;
        img{
            width: 290px;
            height: 215px;
            border-radius: 40px;
        }
        .historia{
            // width: 290px;
            text-align: center;
            padding: 0 50px 0 50px;
            font-size: 1.7rem;
            margin: 0 20px 0 20px;
            }
}
.sobre_nosotros{
    text-align: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
        .ver_mas{
            @include botones;
        }
}

//cuarta sección

.contacto{
    background-image: url(https://alanxelmundo.com/wp-content/uploads/2013/03/IMG_0317.jpg);
    text-align: center;
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 20px;
        .experiencia{
            font-size: 5rem;
            padding-top: 50px;
            padding-bottom: 80px;
            color: $blanco;
        }
        .contactanos{
            @include botones;
        }
}