.form-floating{
    height: 60px;
    font-size: 1.2rem;
    margin-left: 80px;
    margin-right: 80px;
}
.boton{
    text-align: center;
    margin-top: 30px;
        button{
            width: 75px;
            height: 25px;
            font-size: 1.3rem;
        }
}
h5{
    margin-bottom: 50px;
    strong{
    color: #d87895;}
}
