@import "_variables";

//primera sección

.imagine{
    font-size: $font-sizeL;
    text-align: justify;
    margin: 40px;
        .imagine_b{
            color: $rosa;
        }
}

//segunda sección

.nosotros{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px;
        .foto_familia_2{
            justify-self: center;
        }
        .familia_2_texto{
            display: grid;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            font-size: $font-sizeM;
                .familia_2_texto_titulo{
                    align-self: end;
                    }
        }
        .foto_pareja_2{
            justify-self: center;
        }
        .pareja_2_texto{
            display: grid;
            grid-template-rows: 1fr 1fr;
            height: 200px;
            font-size: $font-sizeM;
            justify-self: end;
            text-align: end;
                .pareja_2_texto_titulo{
                    align-self: end;
                    justify-self: end;
                }
        }
        .fotos{
            height: 300px;
            width: 390px;
            border-radius: 0px;
        }
}

//tercera sección

.video{
    background-color: $rosa;
    padding-top: 25px;
        .video_titulo{
            color: $blanco;
        }
        .video_b{
            display: flex;
            justify-content: center;
            padding-top: 30px;
            padding-bottom: 70px;
                video{
                    width: 1000px;
                }
        }
}